{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ contactList.name }}</h1>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}